.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  span {
    text-align: center;
  }
  .example-container {
    width: 500px;
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

}
.example-container {
  position: fixed;
  height: 100vh;
}