@if (userlogged) {
    <mat-toolbar class="elevation">
        <button mat-icon-button  (click)="toggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
        
        <p>
            {{currentPage}}
        </p>
    </mat-toolbar>
}

<mat-sidenav-container>
    <mat-sidenav #sidenav (backdropClick)="sidenav.close()" (keydown.escape)="sidenav.close()">
        <div class="container-logo-side">
            <div class="image-logo-side">
                <img src="https://scontent.faju10-1.fna.fbcdn.net/v/t39.30808-6/272209220_320462816673651_4687895335012597868_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=o2XG24N8FdgQ7kNvgGh6NBH&_nc_ht=scontent.faju10-1.fna&oh=00_AYCKeYECIcaQTUyahw6puUtryttr_1R_LuYjbMw16iWF3g&oe=66742C29" alt="Logo igreja ADJAF">    
            </div>
            <p>ADJAF</p>
        </div>
        <ul>
            <li>
                <button mat-button (click)="navigateToHome()" ><mat-icon>church</mat-icon>
                    Cultos</button>
            </li>
            <li>
                <button mat-button (click)="navigateToMusic()"><mat-icon>library_music</mat-icon>
                    Louvores</button>
            </li>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet />
    </mat-sidenav-content>    
</mat-sidenav-container>
