<main>
    <div class="effect">
        <div class="logo">
            <img src="https://i.ibb.co/p4jY7c1/mf3-3etapa.png" alt="mf3-3etapa" border="0">
            <p>ADJAF MUSIC</p>
        </div>
        <div class="container">
            <form [formGroup]="registerForm" (submit)="register()">
                <h1>Cadastre-se</h1>
                <mat-form-field>
                    <mat-label>email</mat-label>
                    <input formControlName="username" matInput type="email">
                    <mat-error *ngIf="registerForm.get('username')!.invalid && formSubmited">
                        email é obrigatorio
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>senha</mat-label>
                    <input formControlName="password" matInput type="password">
                    <mat-error *ngIf="registerForm.get('password')!.invalid && formSubmited">
                        senha é obrigatoria
                    </mat-error>
                    
                </mat-form-field>
                <mat-form-field>
                    <mat-label>confirme sua senha</mat-label>
                    <input formControlName="passwordConfirm" matInput type="password">
        
                    @if (passwordNotMacher && formSubmited) {
                        <mat-error *ngIf="(passwordNotMacher && formSubmited)">
                            Senhas não são iguais
                        </mat-error>
                    }
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Celular</mat-label>
                    <input formControlName="phone" matInput type="tel">
                    <mat-error *ngIf="(registerForm.get('phone')!.invalid && formSubmited)">
                        Número de telefone invalido
                    </mat-error>
                </mat-form-field>
                <div class="container-buttons">
                    <button mat-flat-button type="submit">Cadastrar</button>
                    <button mat-button (click)="toLogin()" > Voltar</button>
                </div>
            </form>
        </div>
    </div>
    
</main>