
main {
    position: relative;
    height: 80vh;
    section{
        height: 80vh;
        margin: 0 10px;
        article {
            margin-bottom: 5px;
        }
        .container-music {
            width: 100%;
            display: grid;
        }
        mat-card {
            margin-top: 5px;
        }
        audio {
            width: 100%;
        }
    }
    .float-button{
        background-color: blueviolet;
        position: fixed;
        bottom: 3%;
        right: 3%;
    }
}
