<main>
    <section>
        @for (praise of cult.praise; track $index) {
            <article>
                <mat-card>
                    <mat-card-header>
                      <mat-card-title>Louvor: {{praise.group.name}}</mat-card-title>
                      <mat-card-subtitle>Musica: {{praise.music.name}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                      <nav class="container-music">
                            @if (praise.music.URI) {
                                <audio controls>
                                    <source src={{praise.music.URI}} type="audio/mpeg">
                                    Seu navegador não suporta áudio tag.
                                </audio>
                            }
                      </nav>
                    </mat-card-actions>
                  </mat-card>
            </article>
        }
    </section>
    
     <button mat-icon-button class="float-button" (click)="navigateToAddPraise()">
        <mat-icon>add</mat-icon>
     </button>
    
</main>
